@model StudentRegistration

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-dark">
    @{
        /*
        Initialize 'int x = 10' as the variable
        Pass 'x' as a reference through the Test method, located in the ExampleClass namespace
        in the StudentRegistration.cs Model

        // Preview of Test method in StudentRegistration namespace
        Passing the value of 'x' in as a integer reference labeled 'a'
        perform calculation on value of x => a, then return the value as a reference
        to the View.. in this case, the Views/Home/Index.cshtml

        public class ExampleClass
        {
            public static int Test(ref int a)
            {
                return a *= a;
            }

            public static string ExampleString(ref string b)
            {
                string strng = $"{b} is a great person!";
                return strng;
            }
        }

        */
        int x = 10;
        @:Int is: @ExampleClass.ExampleInt(ref x)

        <br />

        string name = "Hunter";
        @:String is: @ExampleClass.ExampleString(ref name)

        <br />

        bool response = true;
        @:Bool is: @ExampleClass.ExampleBool(ref response)

    }
</div>